{% extends 'base.html' %}
{% block content %}

<div class="container-lg text-center">
    <div class="row">
        <div class="col">
            <img src="/static/abt-urus-5.jpg" alt="ABT Urus" width="100%">
        </div>
        <div class="col">
            <img src="/static/abt-urus-4.jpg" alt="ABT Urus" width="100%">
        </div>
            <p>lamborghini is probably the Audi and VW Group’s sportiest marque. “Of course, that is why it came to our
            attention,” says CEO Hans-Jürgen Abt. The family business is celebrating the debut of a performance kit
            for the Urus, capable of 189.5 mph, making it a truly super SUV. This beautifully impressive vehicle’s
            standard V8 bi-turbo engine puts down 650 hp (478 kW) with a maximum torque of 850 Nm, but we provide
            even greater driving pleasure. Thanks to the high-tech control unit ABT Engine Control (AEC), the data
            sheet now boasts 710 hp (522 kW) and 910 Nm.

            In order to truly comprehend the significance of these figures, we must compare them to those of a
            supercar from the 1980s. The legendary Lamborghini Countach LP400S V12 was the winner in many a game of
            ‘Top Trumps’ and was considered pretty much unbeatable. Nevertheless, its 375 hp is merely half that of
            today’s ABT Sportsline-ptimised Urus. Despite its heavier weight, this SUV is also considerably faster,
            with acceleration comparable to modern sports cars such as the brand-new Porsche 911 Carrera S. After
            our performance upgrade, the Urus now sprints from 0-60 mph in 3.4 instead of 3.6 seconds.</p>

    </div>

</div>
{% endblock %}