{% extends 'base.html' %}
{% block content %}
<div class="container-lg text-center">
    <div class="row">
        <div class="col">
            <img src="/static/brabus1.jpg" alt="Brabus GLE" width="100%">
        </div>
        <div class="col">
            <img src="/static/brabus2.jpg" alt="Brabus GLE" width="100%">
        </div>
        <p>The ultimate all-terrain daily driver - sporty looks, performance and luxury in a powerful sports SUV. The
            brand new BRABUS 800, based on the Mercedes-AMG GLE 63 S 4MATIC + combines the space and reliability of a
            modern SUV with the performance of a supercar. Equipped with a full carbon aerodynamic-enhancement concept,
            24-inch forged wheels, a valve-controlled sports exhaust system for the fitting acoustics, a tailor made
            BRABUS fine leather interior and a 4.0 liter twin-turbocharged V8 producing 588 kW / 800 hp, the BRABUS 800
            is the perfect choice for any terrain! The tailor-made fine leather interior completes the exclusive sports
            SUV.</p>

    </div>

</div>
{% endblock %}