{% extends 'base.html' %}
{% block content %}

<div class="container-lg text-center">
    <div class="row">
        <div class="col">
            <img src="/static/mx6_5.png" alt="X6 M" width="100%">
        </div>
        <div class="col">
            <img src="/static/mx6_4.png" alt="X6 M" width="100%">
        </div>
        <p>What is the difference between the 2024 BMW X6 and the X6 M Competition SUV?
            The BMW M models are precisely engineered and built for performance driving. Details such as the seats,
            exhaust, suspension, steering, wheels, and aerodynamics are designed with performance at the forefront. This
            is apparent through the pure power of the 4.4-liter V-8 BMW M TwinPower Turbo engine featuring the latest
            48V mild-hybrid technology that delivers 617 hp..</p>

    </div>

</div>
{% endblock %}